<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercise Generator | Landing</title>

    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div id="landing">
      <div class="darken">
        <div class="flexCenter">
          <p id="landingTitle">Workout Generator</p>
          <p id="landingText">Generate your workouts for free!</p>
          <a href="/home">Start</a>
        </div>
      </div>
    </div>

  </body>
</html>
